<h4 class="text-center">Registre-se e mostre seu pet ao mundo</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">

  <div class="form-group">
    <input formControlName="email"
      class="form-control" placeholder="E-mail"
    />

    <app-mensagens *ngIf="novoUsuarioForm.get('email')?.errors?.['required'] && novoUsuarioForm.get('email')?.touched"
      [mensagem]="'E-mail Obrigatório!*'"
    >
    </app-mensagens>
    <app-mensagens *ngIf="novoUsuarioForm.get('email')?.errors?.['email'] && novoUsuarioForm.get('email')?.touched"
      [mensagem]="'E-mail no formato incorreto!*'"
    >
    </app-mensagens>

  </div>

  <div class="form-group">
    <input formControlName="fullName"
      class="form-control" placeholder="Nome Completo"
    />

    <app-mensagens *ngIf="novoUsuarioForm.get('fullName')?.errors && novoUsuarioForm.get('fullName')?.touched"
      [mensagem]="'Nome Incorreto!'"
    >
    </app-mensagens>

  </div>

  <div class="form-group">
    <input formControlName="userName"
      class="form-control" placeholder="Usuário"
    />

    <app-mensagens *ngIf="novoUsuarioForm.get('userName')?.errors?.['minusculo'] && novoUsuarioForm.get('userName')?.touched"
      [mensagem]="'Usuario deve ser letra minúscula!'"
    >
    </app-mensagens>
    <app-mensagens *ngIf="novoUsuarioForm.get('userName')?.errors?.['usuarioExistente']"
      [mensagem]="'Usuario já existe!'"
    >
    </app-mensagens>

  </div>

  <div class="form-group">
    <input formControlName="password" type="password"
      class="form-control" placeholder="Senha"
    />
    <app-mensagens *ngIf="novoUsuarioForm.errors?.['senhaIgualUsuario']"
      [mensagem]="'Senha deve ser diferente do usuário'"
    >
    </app-mensagens>

    <app-mensagens *ngIf="novoUsuarioForm.get('password')?.errors?.['caracterEspecial'] && novoUsuarioForm.get('password')?.touched"
      [mensagem]="'Senha precisa de pelo menos um caracter especial'"
    >
    </app-mensagens>

    <app-mensagens *ngIf="novoUsuarioForm.get('password')?.errors?.['minimo8'] && novoUsuarioForm.get('password')?.touched"
    [mensagem]="'Senha precisa de pelo menos 8 caracteres'"
  >
  </app-mensagens>

  </div>

  <button class="btn btn-primary btn-block" [disabled]="novoUsuarioForm.invalid" >Cadastro</button>

</form>

<div class="text-center">
  <p>Já é um usuário? <a [routerLink]="['']">Entrar</a></p>
</div>
