<header class="sticky-top bg">
  <nav class="navbar">
    <a class="navbar-brand header-text" [routerLink]="['']"> IS - Simulador de Investimentos </a>
    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name; else login">
        <i class="fa fa-user-circle mr-1"></i>
        <a class="mr-1"> {{ user.name }} </a>
        <a class="mr-1" (click)="logout()"> Logout </a>
      </div>
    </div>
  </nav>

  <ng-template #login>
    <span class="navbar-text">
      <a [routerLink]="['']" class="header-text"> Login </a>
    </span>
  </ng-template>

</header>
