/* You can add global styles to this file, and also import other style files */


header {
  background-color: #00b7e4;
  box-shadow: 0px 0px 4px #444;
}

.header-text {
  color: #fff;
}

.header-text:hover {
  color: rgb(23, 23, 23);
  font-weight: 600;
}

a {
  cursor: pointer;
}

button {
  background-color: #00b7e4 !important;
  margin: 5px 0px !important;
  color: #fff !important;
  font-weight: 600 !important;
}
