<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form-group">
    <input class="form-control" type="text" placeholder="Nome do Usuário"
    [(ngModel)]="usuario"
    name="usuario"
    #campoUsuario="ngModel"
    required
    />
    <app-mensagens *ngIf="campoUsuario.invalid && campoUsuario.touched" [mensagem]="'Usuário Obrigatório'"></app-mensagens>
  </div>

  <div class="form-group">
    <input class="form-control" type="password" placeholder="Senha"
    [(ngModel)]="senha"
    name="senha"
    #campoSenha="ngModel"
    required

    />
    <app-mensagens *ngIf="campoSenha.invalid && campoUsuario.touched" [mensagem]="'Senha Obrigatória'"></app-mensagens>
  </div>

  <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">LOGIN</button>

</form>

<div class="text-center">
  <p>Não é um usuário? <a [routerLink]="['/home/novousuario']">Cadastre-se</a></p>
</div>
